.contained {  
    margin: 40px 0;
}

.categories-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
}

.column-3 img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;  
}

.small-container {
   max-width: 1480px;
   margin: 0 auto;
} 

.featured-title {
    text-align: center;
    font-family: 'Fredoka One', sans-serif;
    color: rgba(12, 1, 1, 0.822);
    font-weight: 900;
    font-size: 40px;
}

.line {
    width: 250px;
    border: 1px solid black;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-top: 10px;
}

.my-heading {
    display: flex;
    align-items: center; 
    flex-direction: column;
}

a {
    text-decoration: none !important;
}

.box-container {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.my-box {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.slide-image {
    height: 450px;
    position: relative;
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 20px;
    box-sizing: border-box;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    color: rgba(12, 1, 1, 0.822);
    margin: 15px 15px;
    font-weight: 800;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span {
    color:rgba(26, 26, 26, 0.5);
}

.price {
    color: #333;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.my-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(241, 199, 199, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    /* font-family: serif; */
    border-radius: 20px;
    margin: 10px;
    box-sizing: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
    color: #fff;
    background-color: #ecb8b1;
    transition: all ease 0.6s;
}

.my-overlay {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    
}

.slide-image:hover .my-overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.my-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.second-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .column-2 {
    width: 50%;
} */

.column-2 h4,h1 {
    font-size: 22px;
    font-weight: 800;
}

.column-2 p {
    font-weight: 800;
    width: 400px;

}

.column-2 img {
    width: 80%;
    margin: 40px;
    border-radius: 15px;
    
}

.column-2 h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 45px;
}

.column-2 h1,h4,p {
    margin: 40px;
}

.my-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.detail-box .type .title {
    font-family: 'Fredoka One', sans-serif;
}

.my-btn {
    margin-left: 25px;
    margin: 30px;
}