.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 520px;
}

.loading-title {
    padding: 10px;
    margin: 80px;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    margin: 40px;
}

.product-body {
    flex: 0.5;
}

.product-carousel {
    flex: 0.5;
    width: 600px;
    height: 600px;
    position: relative;
}

.big-images {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.animation {
    opacity: 1;
}

.carousel-img {
    width: 100%;  
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.little-images {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.images {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 630px;
    margin-right: 43px;
}

.activ {
    opacity: 0.5;  
}

.images:nth-child(4) {
    margin-right: 0px;
  }

.p-button-f {
    margin-right: 20px;
}

.p-body {
   width: 500px;
   margin-bottom: 40px;
   text-align: center;
}

.p-title {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    margin-bottom: 80px;
}

.p-price {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.p-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.product-body-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.combine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cart-combine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 974px) {
    .carousel-img {
        min-width: 556px;
        object-fit: cover;
        top: 50%;
    }

    .p-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .product-body-elements {
        margin-bottom: 0px;
    }

    .buy-btn {
       margin-bottom: 20px;
    }

    .p-buttons {
        margin-bottom: 20px;
    }

}