.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 520px;
}

.loading-title {
    padding: 10px;
    margin: 80px;
}

.container {
    height: 80vh;
}

.p-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.p-body {
    margin: 20px;
    width: 100%;
}

.carousel .carousel-i{
    margin-top: 15px;
    max-width: 656px;
    max-height: 856px;
    object-fit: cover;
    top: 50%;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.p-one-button {
    margin: 10px;
}

.p-one-body {
    margin: 65px 10px;
    margin-left: 25px;
}

.p-one-title, .p-one-price  {
    margin: 10px;
}

.p-one-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p-one-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

@media screen and (max-width: 974px) {
    .carousel img{
        min-width: 556px;
        object-fit: cover;
        top: 50%;
    }

    .p-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .p-one-elements {
        margin-bottom: 0px;
    }

    .buy-btn {
       margin-bottom: 20px;
    }

    .p-one-buttons {
        margin-bottom: 20px;
    }

    .carousel .carousel-i{
        margin-top: 15px;
        max-width: 556px;
        max-height: 456px;
        object-fit: cover;
        top: 50%;
    }
    .p-one-body {
        margin: 30px;
        text-align: center;
    }

}