
.review:hover {
    transform: translateY(-20px);
}

.review .img-review {
    border-radius: 30px;
    width: 100px;
}

.review .title-review {
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
}

.review .p-review {
    font-weight: 900;
    margin-top: 10px;
    margin: 20px;
    width: 300px;
}

@media screen and (max-width: 1240px) {
    .my-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .review {
        max-width: 300px;
    }

    .review .img-review {
        border-radius: 30px;
        width: 80px;
    }
    
    .review .title-review {
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
    
    .review .p-review {
        font-weight: 700;
        margin-top: 10px;
        max-width: 200px;
    }
}