@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* nav: nav-menu */
/* ul: nav-menu-items */
/* li: nav-toggle */
/* Link: menu-bars */
/* li:item.cName: nav-text */


.navbar {
    background-color: transparent;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.hidden {
    display: none;
}


.nav-menu {
    background-color: transparent;
    width: 320px;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    padding: 15px;
    right: -100%;
    transition: 1.2s;
    border: 4px solid white;
    backdrop-filter: blur(5px);
}

.nav-menu.active {
    right: 0;
    transition: 1.2s;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px, 0px, 8px, 16px;
    list-style: none;
    height: 80px;
}

.nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.2s;
    letter-spacing: 2px;
    top: 10%;
    margin-left: 15%;
}

.nav-text a:hover {
    font-weight: 800;
    letter-spacing: 7px;
}

.nav-menu-items {
    width: 100%;
}

.nav-toggle {
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.5s;
}

span {
    margin-left: 16px;
}

.line {
    width: 200px;  
    border-top: 1px solid white;
    color: white;
    text-align: center;
    margin-left: 15%;
}

.logo {
    width: 220px;
    cursor: pointer;
}

.cart {
    width: 70px;
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
   margin-bottom: 9px;
}